<br>

<div>
<table class="table">
<thead>
  <tr><td>Avatar</td><td>Name</td><td>Allegiance</td><td>Character Information</td></tr>
</thead>
<tbody>
  <tr *ngFor="let sw_characters of sw_characters">
    <td><img width="50px" src="{{sw_characters.imageUri}}"/></td>
    <td>{{sw_characters.characterName}}</td>
    <td>{{sw_characters.allegiance}} </td>
    <td>{{sw_characters.characterInformation}} </td>
 </tr>
</tbody>
</table>
</div>
<hr>
<p>View JSON <a href="https://ng2-swapi.firebaseio.com/data.json">here</a></p>
