
<nav class="navbar navbar-default">
<div class="container">
   <div class="navbar-header">
          <a class="navbar-brand" href="/">  {{title}}</a>
  </div>
 <div id="navbar" class="navbar-collapse collapse">
   <ul class="nav navbar-nav">
        <li><a routerLink="/welcome">Home</a></li>
        <li><a routerLink="/add-character">Add Character to API</a></li>
        <li><a routerLink="/view-api">View API</a></li>
   </ul>
</div><!--/.nav-collapse -->
</div>
</nav>
<div class="container">
<router-outlet></router-outlet>
</div>
