
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">{{title}}</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/welcome">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/view-api">View API Entries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/account">Add a Character</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<router-outlet></router-outlet>
