<h1 class="display-4">
  May the API be with you..
</h1>
<p>Sample Data</p>


  <!-- Equal width cols, same on all screen sizes -->
  <div class="col-12">
  <div class="row" *ngFor="let sw_characters of sw_characters; let i=index">
    <div class="col-12">
      <div  *ngIf="i<1" class="card">
      <h3 class="card-header">
        <img class="card-img-top img-fluid" src="{{sw_characters.imageUri}}" alt="Card image cap">
        {{sw_characters.characterName}}
      </h3>
      <div class="card-block">
      <p class="card-text">{{sw_characters.characterInformation}}.</p>
    </div>
  </div>

    </div>


